<div>
  <table>
    <tr>
      <td></td>
      <td>...</td>
      <td>purchase_price_per_mw_input</td>
    </tr>
    <tr>
      <td>airco_buildings_energetic</td>
      <td>...</td>
      <td><%= Current.gql.query("future:V(airco_buildings_energetic;purchase_price_per_mw_input)") %></td>
    </tr>
    <tr>
      <td>space heating</td>
      <td>...</td>
      <td><%= Current.gql.query("future:V(heat_from_steam_hot_water_households_energetic;purchase_price_per_mw_input)") %></td>
    </tr>
    
    <tr>
      <td>check</td>
      <td>...</td>
      <td><%= Current.gql.query("future:V(heat_from_steam_hot_water_households_energetic;full_load_hours)") %></td>
    </tr>


  </table>
</div>

