<p>
  You can also write a lot of text here. And add normal HTML elements. 
  And even include the results of GQL statements
</p>

<table>
  <tr>
    <td>Total Costs</td>
    <td><%= Current.gql.query("present:Q(dashboard_total_costs)") %></td>
  </tr>
  <tr>
    <td>Total Costs Agri</td>
    <td><%= Current.gql.query("present:Q(dashboard_total_costs_assigned_to_agriculture)") %></td>
  </tr>
    <tr>
    <td>Total Costs Building</td>
    <td><%= Current.gql.query("present:Q(dashboard_total_costs_assigned_to_buildings)") %></td>
  </tr>
    <tr>
    <td>Total Costs HH</td>
    <td><%= Current.gql.query("present:Q(dashboard_total_costs_assigned_to_households
)") %></td>
  </tr>
    
</table>
