<div>
  <table>
    <tr>
      <td></td>
      <td>...</td>
      <td>hot water</td>
    </tr>
    <tr>
      <td>total</td>
      <td>...</td>
      <td><%= Current.gql.query("future:V(steam_hot_water_households_energetic;demand_expected_value)") %></td>
    </tr>
    <tr>
      <td>space heating</td>
      <td>...</td>
      <td><%= Current.gql.query("future:V(heat_from_steam_hot_water_households_energetic;demand_expected_value)") %></td>
    </tr>
    <tr>
      <td>hot water</td>
      <td>...</td>
      <td><%= Current.gql.query("future:V(monitized_heat_for_hot_water_households_energetic;demand_expected_value)") %></td>
    </tr>
  </table>
</div>
