<table>
  <tr>
    <td>Input</td>
    <td>coal</td>
    <td>crude oil</td>
    <td>natural gas</td>
    <td>biomass</td>
    <td>solar thermal</td>
    <td>electricity</td>
    <td>hot water</td>
    <td>notdefined</td>
    <td>sum</td>
  </tr>
  <tr>
    <td>households</td>
    <td><input type="number" name="households[coal][demand_total]" value=""></td>
    <td><input type="number" name="households[crude_oil][demand_total]" value=""></td>
    <td><input type="number" name="households[natural_gas][demand_total]" value=""></td>
    <td><input type="number" name="households[bimass][demand_total]" value=""></td>
    <td><input type="number" name="households[solar_thermal][demand_total]" value=""></td>
    <td><input type="number" name="households[electricity][demand_total]" value=""></td>
    <td><input type="number" name="households[hot_water][demand_total]" value=""></td>
    <td><input type="number" name="households[notdefined][demand_total]" value=""></td>
    <td></td>
  </tr>
  <tr>
    <th colspan="10"><b>application split</b></th>
  </tr>
  <tr>
    <td>space heating</td>
    <td><input type="number" name="households[coal][split][space_heating]" value=""></td>
    <td><input type="number" name="households[crude_oil][split][space_heating]" value=""></td>
    <td><input type="number" name="households[natural_gas][split][space_heating]" value=""></td>
    <td><input type="number" name="households[bimass][split][space_heating]" value=""></td>
    <td><input type="number" name="households[solar_thermal][split][space_heating]" value=""></td>
    <td><input type="number" name="households[electricity][split][space_heating]" value=""></td>
    <td><input type="number" name="households[hot_water][split][space_heating]" value=""></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>hot water</td>
    <td><input type="number" name="households[coal][split][hot_water]" value=""></td>
    <td><input type="number" name="households[crude_oil][split][hot_water]" value=""></td>
    <td><input type="number" name="households[natural_gas][split][hot_water]" value=""></td>
    <td><input type="number" name="households[bimass][split][hot_water]" value=""></td>
    <td><input type="number" name="households[solar_thermal][split][hot_water]" value=""></td>
    <td><input type="number" name="households[electricity][split][hot_water]" value=""></td>
    <td><input type="number" name="households[hot_water][split][hot_water]" value=""></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>cooking</td>
    <td></td>
    <td></td>
    <td><input type="number" name="households[natural_gas][split][cooking]" value=""></td>
    <td><input type="number" name="households[bimass][split][cooking]" value=""></td>
    <td></td>
    <td><input type="number" name="households[electricity][split][cooking]" value=""></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>lighting</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td><input type="number" name="households[electricity][split][lighting]" value=""></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>cooling</td>
    <td></td>
    <td></td>
    <td><input type="number" name="households[electricity][split][cooling]" value=""></td>
    <td></td>
    <td></td>
    <td><input type="number" name="households[electricity][split][cooling]" value=""></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>appliances</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td><input type="number" name="households[electricity][split][appliances]" value=""></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  
</table>