%h3{style:"color: #00c; border-bottom: 3px solid #00c"} Area Data
%br

.clearfix
  %label CO2 Price
  .input= number_field(:co2_price, :type => 'text')

.clearfix
  %label CO2 Free
  .input= number_field(:co2_percentage_free, :type => 'text')

%h3 Area Data Debugger
%code
  = Current.gql.tap{|g| g.prepare }.future_graph.area.object_dataset #rescue 'e'