<h4> Technical Lifetime of Sustainable Electricity Production</h4>
<div style="width: 50%">
<p>Automatically determined by a Gquery</p>
<pre>INTERSECTION(GROUP(sustainable_production),GROUP(electricity_production))</pre>
</div>
<table>
  <% Current.gql.query("present:INTERSECTION(GROUP(sustainable_production),GROUP(electricity_production))").each do |converter| %>
    <tr>
      <td><%= converter.key %></td>
      <td><input type="number" min="0" name="carriers[<%= converter.key %>][technical_lifetime]" value="<%= converter.query.technical_lifetime %>"></td>
      <td>in years</td>
    <tr>
  <% end %>
</table>
