<table>
  <tbody id="car_technology_shares">
    <tr>
      <td>Natural Gas Cost per MJ:</td>
      <td><input type="number" name="real_values[natural_gas][cost_per_mj]" value=""></td>  
      <td>real_values[natural_gas][cost_per_mj]</td>
    </tr>
  </tbody>
  
</table>
