<table>
  <tbody id="car_technology_shares">
    <% Current.gql.tap{|g| g.prepare }.present_graph.carriers.sort_by(&:key).each do |carrier| %>
      <tr>
        <td><%= carrier.key %></td>
        <td><input type="number" min="0" name="carriers[<%= carrier.key %>][cost_per_mj]" value="<%= carrier.cost_per_mj %>"></td>
        <td>Cost Per MJ</td>
      <tr>
    <% end %>
</table>
