---
# Defines which curves end-users are allowed to upload via ETModel.
#
# Every curve must define a key and a type.
#
# key  - A unique identifier for the curve. Normally this should match the
#        name of a curve in the ETSource datasets, as you might specify them
#        to the "merit_order.group" attribute. For example:
#        "buildings_cooling", "weather/solar_thermal".
#
# type - Tells ETEngine how to process the uploaded curve.
#
# #### Types
#
# `type: generic`
#
#   ETEngine will convert the uploaded file into a curve of 8760 numeric values,
#   after asserting that the user curve _has_ 8760 values and that each value is
#   numeric.
#
# `type: price`
#
#   ETEngine will treat this as a price curve. The behaviour is the same as the
#   "generic" type, except that each value is rounded to two decimal places.
#
# `type: profile`
#
#   The uploaded curve is a profile. The values in the original curve are used
#   to generate a profile such that the sum of the curve is 1 / 3600 (i.e., the
#   shape of the user curve is retained, and useable as a demand profile, but
#   the specific values are not).
#
# `type: capacity_profile`
#
#   Similar to the "profile" type, except that the curve provided by the user
#   describes the hourly capacity use of the related technology. Values should
#   be between 0 (representing the technology being unused) and 1 (where the
#   technology is running at full capacity). These capacities may be used with
#   the "full_load_hours" reducer to calculate and set FLH for the technology.
#
# `type: temperature`
#
#   The uploaded curve represents the hourly temperature in degrees celcius.
#
# #### Setting an input
#
# Uploaded curves may be "reduced" to a single numeric value, with that value
# then used to set one or more inputs in the user scenario. For example,
# uploading a profile for a technology may require setting an input value to
# assign a full_load_hours value which matches the curve.
#
# This is done with an optional "reduce" object containing "as" and "sets" keys.
#
# reduce.as   - Tells ETEngine how to reduce the curve to a numeric. Valid
#               values are "full_load_hours" and "temperature".
#
# reduce.sets - Either a string or array of strings containing input keys whose
#               values should be set. Any matching inputs in ETModel will be
#               disabled when a custom curve is present.
#
# The "full_load_hours" reducer may only be used with the "capacity_profile"
# curve type.
#
# #### Disabling an input
#
# An optional "disables" value is accepted. This should be an array of input
# keys which will be disabled whenever a curve is set. Note that if you are
# already using "reduce.sets" (documented above) you do not need to specify
# the inputs again here.
#
# #### Examples
#
# # Configures an interconnector price curve.
#
# interconnector_1_price:
#   type: price
#
# # Configures an interconnector price curve and disables the price slider.
#
# interconnector_1_price:
#   type: price
#   disables:
#     - electricity_interconnector_1_marginal_costs
#
# # Configures a profile for the offshore wind. Sets a single input.
#
# offshore_wind:
#   type: profile
#   reduce:
#     as: full_load_hours
#     sets: flh_of_energy_power_wind_turbine_offshore
#
# # Configures a profile for a (hypothetical) heating technology. Sets three
# # inputs.
#
# theoretical_energy:
#   type: profile
#   reduce:
#     as: full_load_hours
#     sets:
#       - flh_of_technology_1
#       - flh_of_technology_2
#       - flh_of_technology_3

interconnector_1_price:
  type: price
  display_group: interconnectors
  disables:
    - electricity_interconnector_1_marginal_costs

interconnector_1_import_availability:
  type: availability
  display_group: interconnectors
  disables:
    - electricity_interconnector_1_import_availability

interconnector_1_export_availability:
  type: availability
  display_group: interconnectors
  disables:
    - electricity_interconnector_1_export_availability

interconnector_2_price:
  type: price
  display_group: interconnectors
  disables:
    - electricity_interconnector_2_marginal_costs

interconnector_2_import_availability:
  type: availability
  display_group: interconnectors
  disables:
    - electricity_interconnector_2_import_availability

interconnector_2_export_availability:
  type: availability
  display_group: interconnectors
  disables:
    - electricity_interconnector_2_export_availability

interconnector_3_price:
  type: price
  display_group: interconnectors
  disables:
    - electricity_interconnector_3_marginal_costs

interconnector_3_import_availability:
  type: availability
  display_group: interconnectors
  disables:
    - electricity_interconnector_3_import_availability

interconnector_3_export_availability:
  type: availability
  display_group: interconnectors
  disables:
    - electricity_interconnector_3_export_availability

interconnector_4_price:
  type: price
  display_group: interconnectors
  disables:
    - electricity_interconnector_4_marginal_costs

interconnector_4_import_availability:
  type: availability
  display_group: interconnectors
  disables:
    - electricity_interconnector_4_import_availability

interconnector_4_export_availability:
  type: availability
  display_group: interconnectors
  disables:
    - electricity_interconnector_4_export_availability

interconnector_5_price:
  type: price
  display_group: interconnectors
  disables:
    - electricity_interconnector_5_marginal_costs

interconnector_5_import_availability:
  type: availability
  display_group: interconnectors
  disables:
    - electricity_interconnector_5_import_availability

interconnector_5_export_availability:
  type: availability
  display_group: interconnectors
  disables:
    - electricity_interconnector_5_export_availability

interconnector_6_price:
  type: price
  display_group: interconnectors
  disables:
    - electricity_interconnector_6_marginal_costs

interconnector_6_import_availability:
  type: availability
  display_group: interconnectors
  disables:
    - electricity_interconnector_6_import_availability

interconnector_6_export_availability:
  type: availability
  display_group: interconnectors
  disables:
    - electricity_interconnector_6_export_availability

interconnector_7_price:
  type: price
  display_group: interconnectors
  disables:
    - electricity_interconnector_7_marginal_costs

interconnector_7_import_availability:
  type: availability
  display_group: interconnectors
  disables:
    - electricity_interconnector_7_import_availability

interconnector_7_export_availability:
  type: availability
  display_group: interconnectors
  disables:
    - electricity_interconnector_7_export_availability

interconnector_8_price:
  type: price
  display_group: interconnectors
  disables:
    - electricity_interconnector_8_marginal_costs

interconnector_8_import_availability:
  type: availability
  display_group: interconnectors
  disables:
    - electricity_interconnector_8_import_availability

interconnector_8_export_availability:
  type: availability
  display_group: interconnectors
  disables:
    - electricity_interconnector_8_export_availability

interconnector_9_price:
  type: price
  display_group: interconnectors
  disables:
    - electricity_interconnector_9_marginal_costs

interconnector_9_import_availability:
  type: availability
  display_group: interconnectors
  disables:
    - electricity_interconnector_9_import_availability

interconnector_9_export_availability:
  type: availability
  display_group: interconnectors
  disables:
    - electricity_interconnector_9_export_availability

interconnector_10_price:
  type: price
  display_group: interconnectors
  disables:
    - electricity_interconnector_10_marginal_costs

interconnector_10_import_availability:
  type: availability
  display_group: interconnectors
  disables:
    - electricity_interconnector_10_import_availability

interconnector_10_export_availability:
  type: availability
  display_group: interconnectors
  disables:
    - electricity_interconnector_10_export_availability

interconnector_11_price:
  type: price
  display_group: interconnectors
  disables:
    - electricity_interconnector_11_marginal_costs

interconnector_11_import_availability:
  type: availability
  display_group: interconnectors
  disables:
    - electricity_interconnector_11_import_availability

interconnector_11_export_availability:
  type: availability
  display_group: interconnectors
  disables:
    - electricity_interconnector_11_export_availability

interconnector_12_price:
  type: price
  display_group: interconnectors
  disables:
    - electricity_interconnector_12_marginal_costs

interconnector_12_import_availability:
  type: availability
  display_group: interconnectors
  disables:
    - electricity_interconnector_12_import_availability

interconnector_12_export_availability:
  type: availability
  display_group: interconnectors
  disables:
    - electricity_interconnector_12_export_availability

agriculture_electricity:
  type: profile
  display_group: agriculture

buildings_appliances:
  type: profile
  display_group: buildings

buildings_cooling:
  type: profile
  display_group: buildings

weather/buildings_heating:
  type: profile
  display_group: buildings

electric_buses:
  type: profile
  display_group: transport

electric_trucks:
  type: profile
  display_group: transport

electric_vans:
  type: profile
  display_group: transport

electric_planes:
  type: profile
  display_group: transport

electric_ships:
  type: profile
  display_group: transport

electric_vehicle_profile_1:
  type: profile
  display_group: transport

electric_vehicle_profile_2:
  type: profile
  display_group: transport

electric_vehicle_profile_3:
  type: profile
  display_group: transport

electric_vehicle_profile_4:
  type: profile
  display_group: transport

electric_vehicle_profile_5:
  type: profile
  display_group: transport

households_appliances:
  type: profile
  display_group: households

households_cooling:
  type: profile
  display_group: households

households_hot_water:
  type: profile
  display_group: households

industry_chemicals_electricity:
  type: profile
  display_group: industry_electricity

industry_chemicals_heat:
  type: profile
  display_group: industry_heat

industry_fertilizers_electricity:
  type: profile
  display_group: industry_electricity

industry_fertilizers_heat:
  type: profile
  display_group: industry_heat

industry_ict:
  type: profile
  display_group: industry_electricity

industry_metals_electricity:
  type: profile
  display_group: industry_electricity

industry_metals_heat:
  type: profile
  display_group: industry_heat

industry_other_electricity:
  type: profile
  display_group: industry_electricity

industry_other_heat:
  type: profile
  display_group: industry_heat

industry_refineries_electricity:
  type: profile
  display_group: industry_electricity

industry_refineries_heat:
  type: profile
  display_group: industry_heat

hydrogen_export:
  type: profile
  display_group: gas_import_export

hydrogen_import:
  type: profile
  display_group: gas_import_export

network_gas_export:
  type: profile
  display_group: gas_import_export

network_gas_import:
  type: profile
  display_group: gas_import_export

weather/solar_pv_profile_1:
  type: capacity_profile
  display_group: electricity_production
  reduce:
    as: full_load_hours
    sets:
      - flh_of_solar_pv_solar_radiation
      - flh_of_solar_pv_solar_radiation_user_curve

weather/solar_thermal:
  type: capacity_profile
  display_group: heat_production
  reduce:
    as: full_load_hours
    sets:
      - flh_of_solar_thermal

geothermal_heat:
  type: capacity_profile
  display_group: heat_production
  reduce:
    as: full_load_hours
    sets:
      - flh_of_geothermal_heat

river:
  type: capacity_profile
  display_group: electricity_production
  reduce:
    as: full_load_hours
    sets:
      - flh_of_hydro_river

weather/air_temperature:
  type: temperature
  display_group: weather
  reduce:
    as: temperature
    sets:
      - flexibility_outdoor_temperature

weather/agriculture_heating:
  type: profile
  display_group: agriculture

weather/wind_offshore_baseline:
  type: capacity_profile
  display_group: electricity_production
  reduce:
    as: full_load_hours
    sets:
      - flh_of_energy_power_wind_turbine_offshore
      - flh_of_energy_power_wind_turbine_offshore_user_curve

weather/wind_coastal_baseline:
  type: capacity_profile
  display_group: electricity_production
  reduce:
    as: full_load_hours
    sets:
      - flh_of_energy_power_wind_turbine_coastal
      - flh_of_energy_power_wind_turbine_coastal_user_curve

weather/wind_inland_baseline:
  type: capacity_profile
  display_group: electricity_production
  reduce:
    as: full_load_hours
    sets:
      - flh_of_energy_power_wind_turbine_inland
      - flh_of_energy_power_wind_turbine_inland_user_curve

weather/insulation_terraced_houses_high:
  type: profile
  internal: true
  #display_group: households

weather/insulation_terraced_houses_medium:
  type: profile
  internal: true
  # display_group: households

weather/insulation_terraced_houses_low:
  type: profile
  internal: true
  # display_group: households

weather/insulation_apartments_high:
  type: profile
  internal: true
  # display_group: households

weather/insulation_apartments_medium:
  type: profile
  internal: true
  # display_group: households

weather/insulation_apartments_low:
  type: profile
  internal: true
  # display_group: households

weather/insulation_semi_detached_houses_high:
  type: profile
  internal: true
  # display_group: households

weather/insulation_semi_detached_houses_medium:
  type: profile
  internal: true
  # display_group: households

weather/insulation_semi_detached_houses_low:
  type: profile
  internal: true
  # display_group: households

weather/insulation_detached_houses_high:
  type: profile
  internal: true
  # display_group: households

weather/insulation_detached_houses_medium:
  type: profile
  internal: true
  # display_group: households

weather/insulation_detached_houses_low:
  type: profile
  internal: true
  # display_group: households
